.tiltdiv {
  height: 120px;
  width: 120px;
  background: linear-gradient(45deg, rgba(0, 255, 187, 1), rgba(0, 94, 255, 1));
  border-radius: 20px;
  box-shadow: 5px 6px rgba(0, 94, 255, 0.3);
  text-align: center;
  padding-top: 5px;
}
