/* #root {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* align-items:start; */
  /* max-width: 1500px;
  padding: 1rem;
  text-align: center;
} */

.left {
  /* display: flex; */
  justify-content: left;
  margin-bottom: 20px;
}

.right {
  /* display: flex; */
  float: right;
  margin-bottom: 20px;
}

.center {
  /* display: flex; */
  justify-content: center;
  margin-bottom: 20px;
}

.rank {
  margin-top: 3rem;
  font-style: italic;
  text-align: center;
}

.linkbox {
  max-width: 75%;
  margin-top: 3rem;
  margin-left: 10%;
  margin-right: auto;
  border: 3px solid red;
  border-radius: 20px;
  background-color: rgba(0, 255, 187, 0.8);
  box-shadow: 5px 6px rgba(0, 94, 255, 0.2);
}

.imagebox {
  /* position: absolute; */
  max-width: 75%;
  max-height: auto;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 1rem;
  border-radius: 20px;
  border-color: red;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: auto;
  border-radius: 20px;
}


/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
